# Read Dataset

In [3]:
import pandas as pd
data=pd.read_csv('Sales_add.csv')

In [3]:
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [10]:
After=data['Sales_After_digital_add(in $)'].mean()

In [11]:
before=data['Sales_before_digital_add(in $)'].mean()

In [13]:
After-before

81883.7727272727

In [12]:
data1=data.groupby('Region')[['Manager']].count()

In [14]:
data2=data.groupby('Manager')[['Region']].count()

In [15]:
m1=data1.merge(data2,how='cross')

In [16]:
m3=m1['Region']*m1['Manager']

In [63]:
data1

            Manager
Region
Region - A       10
Region - B        7
Region - C        5

In [64]:
data2

             Region
Manager
Manager - A       9
Manager - B       7
Manager - C       6

In [4]:
observed=data.groupby(['Region','Manager']).size()

In [9]:
observed

Region      Manager
Region - A  Manager - A    4
            Manager - B    3
            Manager - C    3
Region - B  Manager - A    4
            Manager - B    1
            Manager - C    2
Region - C  Manager - A    1
            Manager - B    3
            Manager - C    1
dtype: int64

In [34]:
m6=m3/20

In [39]:
value=sum(abs(observed))-sum(abs(m6))

In [38]:
m6

0    4.50
1    3.50
2    3.00
3    3.15
4    2.45
5    2.10
6    2.25
7    1.75
8    1.50
dtype: float64

In [45]:
numerator=value**2

In [46]:
denom=sum(m6)/8

In [47]:
numerator/denom

1.6000000000000039

# Chi square value is 3.841

In [48]:
import scipy.stats
scipy.stats.chi2.ppf(1-.05, df=1)

3.841458820694124

# 1.60<3.80 so accept hypothesis

# Variables are dependent