# Read dataset

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data=pd.read_excel("iris (1).xls")

In [4]:
data.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  NaN  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

In [5]:
data.isna().sum()

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

In [6]:
data['SL'].fillna(value=data['SL'].mean(),inplace=True)

In [7]:
data['SW'].fillna(value=data['SL'].mean(),inplace=True)

In [8]:
data['PL'].fillna(value=data['SL'].mean(),inplace=True)

In [9]:
data.isna().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [11]:
data['Classification'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Classification, dtype: int64

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              150 non-null    float64
 1   SW              150 non-null    float64
 2   PL              150 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [17]:
from sklearn.preprocessing import LabelEncoder
label_en=LabelEncoder()
data['Classification']=label_en.fit_transform(data['Classification'])

In [18]:
data['Classification'].value_counts()

0    50
1    50
2    50
Name: Classification, dtype: int64

In [19]:
x=data.drop(['Classification'],axis=1)

In [20]:
y=data['Classification']

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test =train_test_split(x,y,random_state=42,test_size=0.2)

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
rf_model=RandomForestClassifier()

In [24]:
rf_model.fit(X_train,Y_train)

RandomForestClassifier()

In [27]:
y_pred=rf_model.predict(X_test)

In [31]:
from sklearn.metrics import f1_score,confusion_matrix,accuracy_score

In [30]:
confusion_matrix(Y_test,y_pred)

array([[10,  0,  0],
       [ 0,  8,  1],
       [ 0,  0, 11]], dtype=int64)

In [32]:
accuracy_score(Y_test,y_pred)

0.9666666666666667